---
import { Astronav, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Products",
    path: "#products",
  },
  {
    title: "Technology",
    path: "#tecnologia",
  },
  {
    title: "About Us",
    path: "#sobre",
  },
];
---

<header class="flex justify-between lg:justify-around items-center p-4">
  <a href="/">
    <img src="/public/assets/logo.jpeg" alt="Freehands Logo" class="w-40" />
  </a>

  <nav class="hidden lg:flex items-center space-x-8">
    {
      menuitems.map((item) => (
        <a
          href={item.path}
          class="text-white text-lg hover:text-gray-300 transition-colors"
        >
          {item.title}
        </a>
      ))
    }
  </nav>

  <div class="lg:hidden mobile-menu-icon">
    <Astronav client:load>
      <MenuIcon class="text-white" />

      <div class="astronav-items">
        <div class="flex flex-col items-center space-y-6 mt-12">
          {
            menuitems.map((item) => (
              <a
                href={item.path}
                class="text-white text-2xl font-bold hover:text-gray-300 transition-colors"
              >
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </Astronav>
  </div>
</header>